<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Administration{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

            {# asset pointe vers le dossier public #}

            <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet" />
            <script src="{{ asset('/js/jquery.js') }}"></script>
            <script src="{{ asset('/js/popper.min.js') }}"></script>
            <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
            <link href="{{ asset('/build/app.css') }}" rel="stylesheet" />

    </head>
    <body>
        <div class="fluid-container main-container">
            <h1 class="site-title">Basic auto / Admin.</h1>
            <div class="body-content body-admin">
                {% block body %}{% endblock %}
            </div>
        </div>
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
