<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

            {# asset pointe vers le dossier public #}

            <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet" />
            <script src="{{ asset('/js/jquery.js') }}"></script>
            <script src="{{ asset('/js/popper.min.js') }}"></script>
            <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
            <link href="{{ asset('/build/app.css') }}" rel="stylesheet" />

    </head>
    <body>
        <div class="container">
        <h1 class="site-title">Basic auto</h1>
        <header>

            <div id="loginButtonBox">
                <p>Connectez-vous pour pouvoir publier une annonce.</p>
                {# Ou inscrivez-vous (par la suite) #}
                
                <div class="btn-container">
                    <a href={{path('app_login')}} class="btn btn-warning">Se connecter</a>
                </div>
            </div>
            <img src="{{asset('img/drive.jpg')}}" />

        </header>
        <div class="body-content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        </div>

        {% block bottom %}
        
            {% if is_granted('ROLE_ADMIN') %}

                <div class="text-center">
                    <a class="btn btn-primary" href={{path('annonce_add')}}>+ Ajouter une annonce</a>
                </div>

            {% endif %}

        {% endblock %}
    </body>
</html>
